[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AgriDiversiX"]
	path = AgriDiversiX
	url = https://github.com/cran/AgriDiversiX
